/* CSS declarations go here */

#header {
	background-color: white;
	margin: 20px 0px;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 100%;
    margin: 0 auto;
}

.sort_area {
	display: inline;
}

.login {
	position:absolute;
	display: inline;
	right:0px;
	margin-right: 50px;
}

.post {
    padding: 5px;
    background-color: white;
    border: 1px black solid;
    margin: 5px 0px;
}

.post .name {
    display: inline-block;
    font-size: 1.75em;
}

.post .upvotearea {
	float: left;
	height: 70px;
	margin-left: 5px;
	margin-right: 10px;
}

.post .flagarea {
	float: right;
	height: 70px;
	margin-left: 5px;
	margin-right: 10px;
}

.post .upvotecount {
    display: inline-block;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
	margin: 10px;
	vertical-align: middle;
}

.post .updated_at {
    display: inline-block;
}

.post .comments .comment_list {
	display: none;
}

.post .categories {
	display: inline;
	position: relative;
	top: -4px;
}

.post .category {
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
	margin: 5px;
	padding: 0px 4px;

	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	background-color: LightGreen;
}

.post .outline {
	border-style: dotted;
	border-width: 1px;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.header {
    padding: 20px 0;
}

.details {
    margin-top: -18px;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: .4;
/*     z-index: 0; */
}

.invite-row .invite {
    margin: 10px 10px 10px 0;
}

.description {
    margin-bottom: 5px;
}

input.chosen {
    font-weight: bold;
}

.attribution {
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 3px;
    padding-bottom: 0;
}
