/* CSS declarations go here */

#header {
	background-color: white;
    margin: 20px;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 100%;
    margin: 0 auto;  
}

.post {
    cursor: pointer;
    padding: 5px;
    background-color: white;
    border: 1px black solid;
    margin: 5px;
}

.post .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.post .upvotecount {
    display: inline-block;
    width: 30px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #000;
}

.post.selected {
    color: white;
    background-color: black;
}

.post.selected .score {
    color: white;
}
.post.selected.age{
    color: red;
    border: 1px red solid;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}

.header {
    padding: 20px 0;
}

.details {
    margin-top: -18px;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: .4;
    z-index: 1;
}

.invite-row .invite {
    margin: 10px 10px 10px 0;
}

.description {
    margin: 20px 0 20px 0;
}

.attendance .who {
    margin-bottom: 5px;
}

input.chosen {
    font-weight: bold;
}

.attribution {
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 3px;
    padding-bottom: 0;
}
